.quill .ql-editor,
.quill .ql-blank {
  width: 8in;
  height: 11in;
  padding: 1in;
  margin: 1in;
  background-color: white;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.quill .ql-container,
.quill .ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.quill .ql-toolbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 20px 0;
  background: linear-gradient(rgba(0, 174, 255, 0.11),rgba(0, 255, 234, 0.082));
}
